/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 28px;
}

.slider.round:before {
    border-radius: 50%;
}

.findmap {
    margin: auto 10px;
    width: 95%;

}
.map {
    width: 100%;
    height: 600px;
}
.mapSide{
    height: 100%;
    width: 100%;
    margin: 2%;

}

.td-left{
    width: 70%;
    padding-top: 2%;
}
.route-right{
    width: 100%;
    height: 100%;
    border: 1px solid #444444;
}
.list_table{
    margin: 2%;
    width: 95%;
    height: 500px;
}
.list_table tr td{
    border: 1px solid seagreen;
    text-align: center;
}
.list_tr1 {
    height: 10%;
}
.list_tr2 {
    height: 15%;
}
.list_tr3 {
    height: 75%;
}
.search_box{
    float: right;
}
.first_td {
    width: 70%;
    min-width: 700px;
    padding: 2%;
    border: 1px solid seagreen;
}
.second_td {
    width: 30%;
    min-width: 300px;
    height: 100%;
    padding: 2%;
    border: 1px solid seagreen;
}
.route_input{
    width: 100%;
    min-height: 600px;
    text-align: center;
}
.searchB{
    height: 35px;
}
.searchDown{
    min-width: 175px;
    margin-left: 12px;
    text-align: left;
}
.searchDown tr td{
    border: 1px solid #303633;
}
.addB{
    background-color: #69d0f8;
    border: none;
    color: white;
    font-size: 20px;
    margin: 2px 2px;
    border-radius: 40%;
}
.route_box{
    border: 1px solid #49555a;
    text-align: left;
    margin: 12px;
    min-width: 260px;
}
.storeNameBox{
    margin: 2px 2px;
    width: 100px;
    height: 100%;
}
.route_table{
}

.find_routeB {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}
.best_wayB {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #78d97c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.best_wayB:hover {background-color: #09f112
}

.best_wayB:active {
    background-color: #e0be6c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.side_tr_2{
    min-height: 150px;
    margin-bottom: 100px;
}
.store_name{
    font-size: 30px;
}
.add{
    text-decoration: underline;
}
.addstarB{
    display: inline-block;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #322323;
    background-color: #f5ee7b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #a76a34;
}
.cancelB{
    display: inline-block;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f1eded;
    background-color: #b1b1b1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #262525;
}
.store_addr{
    font-size: 13px
}
.store_detail th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.store_detail tr:hover {background-color: #ddd;}
.store_detail tr:nth-child(even){background-color: #f2f2f2;}
.store_detail td th{
    border: 1px solid #ddd;
    padding: 8px;
}
.store_detail {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
