.localcurrency-img {
  width: 1000px;
  height: 500px;
}

#localcurrency_statusselect {
  margin-top: 25px;
  margin-left: 20px;
  float: left;
}

#localcurrency_cityselect {
  margin-top: 25px;
  float: left;
}

.currency_startdate {
  margin-top: 25px;
  margin-left: 20px;
  float: left;
}

.currency_date_h4 {
  margin-top: 25px;
  margin-left: 20px;
  float: left;
}
.currency_enddate {
  margin-top: 25px;
  margin-left: 20px;
  float: left;
}

#localCurrency_search_bar {
  display: inline-block;
  width: 400px;
}


.currencyTotal-line {
  width: 50%;
  float: left;
}

.currencyTotal-h5-input {
  float: left;
  margin-right: 20px;
}

.currencyTotal-data {
  width: 100px;
}

.currencyTotal-button {
  margin-left: 20px;
}


.curreny-div {
  margin-top: 40px;
  width: 1150px;
}



.currencyUse-h5 {
  margin-top: 20px;
}




.currencyTotal-div {
  display: inline-block;
  margin-top: 20px;
  width: 45%;
}

.useLocal-chart {
  margin-top: 20px;
}

#graph-title {
  display: inline-block;
  margin-right: 2rem;
}

.useDate-input {
  display: inline-block;
}

.currencyTotal-Bar {
  margin : 0 auto;
  width: 80%;

}

.currencyTotal-h6 {
  display: inline-block;
}


#currencyTotal-select-currency {
  margin-left: 2rem;
}

#currencyTotal-useSelect-currency {
  margin-left: 570px;
  margin-top: 20px;
}

#userLocal-select {
  margin-left: 2rem;
}

.currencyTotal-Bar-byState {
  width: 100%;
}

.currencyTotal-div-byCurrencyName {
  width: 100%;
}
#second-graph-line {
  height: 380px;
}

#second-grh{
  height: 100%;
}