.userlist-content-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.userlist-menu-h2 {
  display: inline;
  margin-right: 2rem
}
.userlist-menu-h6 {
  display: inline;
}

#userlist-select-search-bar {
  float: right;
}
#userlist-select {
  display: inline-block;
  width: 120px;
 
}
#userlist-search-bar {
  display: inline-block;
  width: 300px;
}

.form-control{}