#common-header-logo {
  max-width: 100px;
  margin: 0 auto;

}

#common-header-search-bar {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

#common-header-links {
    margin: 0 auto;
    margin-top: 2rem;
}

#common-menu-bar {
    margin: 0 auto;
}

.common-menu-bar-item {
    margin-left: 3rem;
    margin-right: 3rem;
    cursor: pointer;
}