::-webkit-scrollbar {
    width: 0px;
}

.scrollContainer {
    display: flex;
    flex: 1;
    width: 100%;
    overflow-x: scroll;
}

.cardItem {
    display: flex;
    flex-shrink: 0;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-left: 30px;
}


#card-image {
    height: 50%;
}
#card-title {
    text-align: center;
    font-weight: bold;
}
#card-footer{
    text-align: right;
}
#msg{
    text-align: center;
}