#link-board {
  border: 1px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

#inline-block-for-find-id {
  display: inline-block;
  margin-right: 3rem;
}

#inline-block-for-find-password {
  display: inline-block;
  margin-left: 3rem;
}