#admin-header-logo {
  max-width: 100px;
  margin: 0 auto;

}
.nav-link{
    margin: 0 auto;
}

.navbar-admin-span{
    font-size: xx-large;
}

#admin-header-search-bar {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

#admin-header-links {
    margin: 0 auto;
    margin-top: 2rem;
}

#admin-menu-bar {
    margin: 0 auto;
}



.admin-menu-bar-item {
    margin-left: 3rem;
    margin-right: 3rem;
    cursor: pointer;
}
